<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Informações de produtos registrados</title>
    <!-- Incluindo o AngularJS - Google's CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="{% static 'register/angular_app_define.js' %}"></script>
    <!--<script src="js/angular-locale_pt-br.js"></script>-->
    
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}" />
</head>

<body ng-app="register">
    <h1>Informações de Produtos</h1>
    <hr>
    
    <div class="bar">
        <!-- Ligação entre o modelo searchString e o campo de texto -->
        <input type="text" ng-model="searchString" placeholder="Digite seu termo de pesquisa">
    </div>

    <ul>
        <!-- Renderiza um elemento li para cada entrada no array de itens. Note o filtro de busca customizado "searchFor". Ele pega o valor do modelo searchString como um argumento. -->
        <li ng-repeat="i in {{product_dict}} | filter:searchString">
            Nome: <a href="/register/[[i.id]]/">[[i.name]]</a>
            <br> Preço: [[i.price | currency:'R$ ']] <br> Local: [[i.local]]
        </li>
    </ul>
</body>
</html>
