<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Informações de produtos registrados</title>
    <!-- Incluindo o AngularJS - Google's CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="{% static 'register/angular_app_define.js' %}"></script>
    <!--<script src="js/angular-locale_pt-br.js"></script>-->
    
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}" />
</head>

<body ng-app="register" ng-controller="IndexController">
    <h1>Informações de Produtos</h1>
    
    <div class="optview">
        <a href="{% url 'register:cart' %}">Criar carrinho</a>
        
        <div class="bar">
            <!-- Ligação entre o modelo searchString e o campo de texto -->
            <input type="text" ng-model="searchString" placeholder="Digite seu termo de pesquisa">
        </div>
        
        <div>
            <select ng-model="local.selected">
                <option value="0" selected>--Todos--</option>
                {% for opt in locals %}
                <option value="{{opt.id}}">{{opt.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="results">
        <!--ul>
            <li ng-repeat="i in {{products}} | filter:searchString">
                <div border-style="solid">
                    <b class="col_left">Nome:</b> <span class="col_right">[[i.name]]</span> <br>
                    <b class="col_left">Preço:</b> <span class="col_right">[[i.price | currency:'R$ ']]</span> <br>
                    <a href="/register/[[i.local_id]]/"><b class="col_left">Local:</b> <span class="col_right">[[i.local]]</span></a>
                </div>
            </li>
        </ul-->
        
        <table>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Local</th>
        </tr>
        <tr ng-repeat="i in {{products}} | filter:searchString">
            <td>[[i.name]]</td>
            <td>[[i.price | currency:'R$ ']]</td>
            <td><a href="/register/[[i.local_id]]/">[[i.local]]</a></td>
        </tr>
        </table>
    </div>
</body>
</html>
