<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Informações de produtos registrados</title>
    <!-- Incluindo o AngularJS - Google's CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="{% static 'register/angular_app_define.js' %}"></script>
    <!--<script src="js/angular-locale_pt-br.js"></script>-->
    
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}" />
</head>

<body ng-app="register">
    <h1>Informações sobre {{local.name}}</h1>
    
    <ul>
        <li><b>Endereço:</b> {{local.street}}, 
            {% if local.number %} {{local.number}}, {% endif %}
            {{local.neighborhood}}, {{local.city}} - {{local.state}}
        </li>
        <li><b>CEP:</b> {{local.cep}}</li>
        <li><b>Coordenadas:</b> {{local.latitude}}, {{local.longitude}}</li>
    </ul>
    <a href="/register/">Voltar</a>
</body>
</html>
